extends layout

block content
  div.flex-container
    div(class="con")
    div
      h1 ¡Manejamos tus Contactos aquí!
      div.buttons 
        a(class="crear" href="/createContact") Crear contacto 
        

